@import '../../globals.scss';

.videoArea-container-commentsSection {
    background-color: $commentsSection-backgroundColor;
    margin-top: 1rem;
    padding: 1rem;

    .commentsSection-addCommentContainer {

        .addCommentContainer-header {
            display: flex;

            .avatarContainer {
                cursor: pointer;
                
                img {
                    border-radius: 50%;
                    object-fit: contain;
                    width: 3rem;
                }
                
                svg {
                    border-radius: 50%;
                    width: 3rem;
                    height: 100%;
                }
            }

            .commentBody {
                flex-grow: 1;
                font-size: 1rem;
                margin-left: 1rem;

                font-size: clamp(0.8rem, 1.2vmin, 1rem);

                outline: none;
                border: none;
                border-bottom: 1px solid $main-border-color;
                background-color: transparent;
                color: $main-font-color;
                resize: none;
            }
            .commentBody::-webkit-scrollbar {
                width: 0.5em;
            }
            .commentBody::-webkit-scrollbar-thumb {
                background-color: $scrollbar-thumb-background-color;
                border-radius: 15px;
            }
        }
    }

    .addCommentContainer-activeSection {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;

        &.invisible {
            display: none;
        }
    }

    .commentsSection-comments {
        
        .comments-comment {
            position: relative;
            display: flex;
            margin-top: 1rem;
    
            .avatarContainer{
                cursor: pointer;
                align-self: flex-start;
                    
                img {
                    border-radius: 50%;
                    object-fit: contain;
                    width: 3rem;
                }
                
                svg {
                    border-radius: 50%;
                    width: 3rem;
                    height: 100%;
                }
            }

            .comment-body {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                flex: 0.95;

                .body-header {
                    display: flex;
                    gap: 0.5rem;
    
                    p {
                        color: $main-font-color;
                        margin: 0;
                        font-size: clamp(0.8rem, 1.2vmin, 1rem);
                    }
                }
                
                .comment-text {
                    color: $main-font-color;
                    font-size: clamp(0.8rem, 1.2vmin, 1rem);
                }
            }
    
            &:hover {
    
                .comment-menu {
    
                    .dots-container {
                        display:flex;
                    }
                }
            }
    
            .comment-menu {
                flex: 0.05;
                
                .dots-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3px;
                    
                    border-radius: 50%;
                    padding: 0.5rem;
                    height: 1rem;
                    width: 1rem;
                    
                    cursor: pointer;
                    display: none;
    
                    &:active {
                        background-color: $icons-backgroundColor-active;
                    }
    
                    .dots {
                        width: 3px;
                        height: 3px;
                        background-color: $main-font-color;
                        border-radius: 50%;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.videoArea-container-commentsSection[darktheme='1'] {
    background-color: $commentsSection-backgroundColor-dark;
    
    .addCommentContainer-header {

        .commentBody {
            color: $main-fontcolor-dark;
            border-bottom: 1px solid $main-border-color-dark;
        }
        .commentBody::-webkit-scrollbar-thumb {
            background-color: $scrollbar-thumb-background-color-dark;
        }
    }

    .addCommentContainer-activeSection {

        .videoArea-button {
            background-color: $buttons-backgroundColor-dark;

            &:hover {
                background-color: $buttons-backgroundColor-hover-dark;
            }
        
            &:active {
                background-color: $buttons-backgroundColor-active-dark;
            }
        }

        .inactive {
            background-color: $buttons-inactive-color;
            cursor: default;
            color: $buttons-inactive-fontColor;
            
            &:hover {
                background-color: $buttons-inactive-color;
            }
            
            &:active {
                background-color: $buttons-inactive-color;
            }
        }
    }

    .commentsSection-comments {

        .comments-comment {

            .comment-body {

                .body-header {

                    p {
                        color: $main-fontcolor-dark;
                    }
                }

                .comment-text {
                    color: $main-fontcolor-dark;
                }
            }

            .comment-menu {

                .dots-container {

                    &:active {
                        background-color: $icons-backgroundColor-active-dark;
                    }

                    .dots {
                        background-color: $main-fontcolor-dark;
                    }
                }
            }
        }
    }
}