@import '../../../../../globals.scss';

$form-width: 50em;
$form-height: 36em;

.createVideo-form[visible='0']{
    display: none;
}

.createVideo-form[visible='1'] {
    position: fixed;
    width: $form-width;
    height: $form-height;
    top: calc((100vh - $form-height) / 2);
    left: calc((100vw - $form-width) / 2);
    border-radius: 20px;
    background-color: $createVideo-backgroundColor;
    display: grid;
    grid-template-columns: 1fr 6fr;
    user-select: none;

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;

        > * {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
            
            svg {
                width: 3rem;
                height: 3rem;
                padding: 1rem;
                object-fit: contain;
                fill: $createVideo-icon-color;
            }

            &:hover {
                background-color: $createVideo-icon-backgroundColor-hover;

                svg {
                    fill: $createVideo-icon-color-hover;
                }
            }

            &:active {
                background-color: $createVideo-icon-backgroundColor-active;

            }

            &:nth-last-child(1) {
                margin-top: auto;
                margin-bottom: 1em;
            }

            &.active {
                background-color: $createVideo-icon-backgroundColor-active;

                svg {
                    fill: $createVideo-icon-color-hover;
                }
            }
        }
        
        .cancelImage:hover {
            
            svg {
                fill: $createVideo-cancelIcon-color-hover;
            }
        }
    }

    .right {
        display: grid;
        min-height: 100%;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 7fr 1fr 2fr;
        
        .videoImage {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            margin: 0.8rem 0.8rem 0.8rem 0;
            cursor: pointer;

            img {
                width: 100%;
                object-fit: contain;
                border-radius: 15px;
                display: flex;
            }
        }

        .imageSelect[show='1'] {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0%;
            border-radius: 20px;
            background-color: #fff5;
            overflow: hidden;

            z-index: 2;
            
            .imagesGrid {
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows:max-content;
                overflow-y: scroll;
                
                .videoImageTile {
                    border-radius: 10px;
                    overflow: hidden;
                    border: 3px solid $createVideo-borderColor;
                    opacity: 0.9;
                    cursor: pointer;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
    
                    &:hover {
                        border: 3px solid $createVideo-borderColor-hover;
                        opacity: 1;
                    }
                }
            }

            .imagesGrid::-webkit-scrollbar {
                width: 0.5em;
            }
            
            .imagesGrid::-webkit-scrollbar-thumb {
                background-color: $scrollbar-thumb-background-color;
                border-radius: 15px;
            }
        }

        .imageSelect[show='0'] {
            display: none;
        }
        
        .userIcon {
            grid-column: 1 / 2;
            grid-row: 2 / 4;
            
            img {
                max-width: 90%;
                object-fit: contain;
                border-radius: 50%;
            }
        }

        textarea {
            resize: none;
            background-color: transparent;
            margin: 0 1em 1em 0;
            color: $main-fontcolor-dark;

            &::placeholder {
                color: $main-placeholder-fontcolor;
            }
        }

        .tagsSelectSwitch {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            margin-bottom: 1rem;

            p {
                padding: 0.5rem;
                background-color: $createVideo-backgroundColor;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: $createVideo-icon-backgroundColor-hover;
                }

                &:active {
                    background-color: $createVideo-icon-backgroundColor-active;
                }
            }
        }
        
        .tagsArea {
            grid-row: 2 / 4;
            grid-column: 2 / 4;

            margin: 0 1rem 1rem 0;
            padding: 0.1rem;
            border: 1px solid $createVideo-borderColor;
            border-radius: 5px;
            
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
            gap: 0.1rem;

            

            .tagTile {
                border: 1px solid $createVideo-borderColor;
                padding: 0 1rem;
                border-radius: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    border: 1px solid coral;
                    background-color: $createVideo-backgroundColor;
                }

                p {
                    margin: 0;
                }
            }

            

            .active {
                background-color: $createVideo-borderColor-hover;
            }
        }

        .selectedTagsArea {
            grid-row: 2 / 4;
            grid-column: 2 / 4;

            margin: 0 1rem 1rem 0;
            padding: 0.1rem;
            border: 1px solid $createVideo-borderColor;
            border-radius: 5px;

            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 0.1rem;

            .emptyTagsArray {
                color: $createVideo-icon-color;
                padding-left: 1rem;
            }

            .tagTileSelected {
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
                border: 1px solid $createVideo-borderColor;
                border-radius: 5px;
                background-color: $createVideo-backgroundColor;

                p {
                    margin: 0;
                }
            }
        }
        
        .videoTitle {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        
        .videoDescription {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }

        p {
            color: $createVideo-fontColor;
        }

        .sliders {
            display: grid;

            .sliderContainer {

                svg {
                    width: 1.5em;
                    height: 1.5em;
                    position: absolute;
                    right: 10%;
                    fill: $main-fontcolor-dark;
                }
    
                label {
                    width: 6%;
                    height: 1rem;
                    position: absolute;
                    right: 0;
                    margin-right: 1em;
                    border-bottom: 1px solid $createVideo-borderColor;
                    color: $main-fontcolor-dark;
                    padding: 0.1rem;
                }

                .slider {
                    max-width: 80%;
                }
        
                .sliderTrack, .sliderTrackLikes {
                    top: 8px;
                    height: 4px;
                    background: lightblue;
                }
        
                .sliderTrack.sliderTrack-0 {
                    background: coral;
                }

                .sliderTrackLikes.sliderTrackLikes-0 {
                    background: lightgreen;
                }
        
                .sliderThumb {
                    background: lightgrey;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    cursor: pointer;
    
                    &:active {
                        outline: none;
                    }
                }
            }
        }
    }
}

// removing create video option
@include createVideo-cutOff {
    .createVideo-form[visible='1'] {
        display: none;
    }
}