$main-background-color: white;
$main-background-color-dark: #131313;
$main-background-color-dark-hover: #434343;
$main-font-color: #232323;
$main-fontcolor-dark: #a3a3a3;
$main-border-color: #4444;
$main-border-color-dark: #f3f3f3;
$main-placeholder-fontcolor: #aaaaaa;
$main-background-loading: rgb(179, 179, 179);
$main-background-loading-dark: rgb(68, 68, 68);

$main-attention-color: rgba(158, 236, 255, 0.7);
$main-attention-color-dark: rgba(158, 236, 255, 0.3);

$menu-item-color: #fffe;
$menu-item-backgroundColor: #fff2;

$headerMenu-height: 50px;

$headerMenu-userMenu-backgroundColor: #353535;

$createVideo-backgroundColor: #444;
$createVideo-fontColor: #fffe;
$createVideo-icon-backgroundColor-hover: #a3a3a3;
$createVideo-icon-backgroundColor-active: lightgrey;
$createVideo-icon-color: #a3a3a3;
$createVideo-icon-color-hover: #232323;
$createVideo-cancelIcon-color-hover: rgba(131, 0, 22, 0.719);
$createVideo-borderColor: #a3a3a3;
$createVideo-borderColor-hover: #fffa;

$sideMenu-folded-width: 60px;
$sideMenu-folded-height: 80px;
$sideMenu-expanded-width: 250px;

$icons-backgroundColor-hover: lightgrey;
$icons-backgroundColor-active: darkgrey;
$icons-backgroundColor-active-dark: #454545;
$icons-backgroundColor: lightgrey;
$icons-backgroundColor-dark: #696969;
$icons-backgroundColor-hover-dark: #434343;
$scrollbar-thumb-background-color: #0009;
$scrollbar-thumb-background-color-dark: #fff9;

$buttons-backgroundColor: lightgrey;
$buttons-backgroundColor-dark: darkgrey;
$buttons-backgroundColor-hover: darkgrey;
$buttons-backgroundColor-hover-dark: lightgrey;
$buttons-backgroundColor-active: #434343;
$buttons-backgroundColor-active-dark: darkgrey;
$buttons-divider-color: #4445;
$buttons-divider-color-dark: #fff5;
$buttons-inactive-color: #fff4;
$buttons-inactive-fontColor: #0002;

$commentsSection-backgroundColor: #0004;
$commentsSection-backgroundColor-dark: #fff2;

@mixin mobile {
  @media (max-width: 680px) {
    @content;
  }
}

@mixin mobile-vertical {
  @media screen and (orientation: portrait) and (max-width: 680px) {
    @content;
  }
}
@mixin mobile-vertical-small {
  @media screen and (orientation: portrait) and (max-width: 400px) {
    @content;
  }
}

@mixin createVideo-cutOff {
  @media (max-width: 920px) {
    @content;
  }
}
